<div class="container">
  <form
      [formGroup]="form"
      (ngSubmit)="send()"
    >

  <h1 style="color: blue; font-size: xx-large; margin-left: 470px;">Contacto</h1>

  <div class="relative mb-4 mr-80 ml-80" >
    <label for="nombre">Nombre</label>

    <input type="text" id="nombre" name="nombre" class=" w-full
    bg-white
    rounded
    border border-gray-300
    text-base
    outline-none
    text-gray-700
    py-1
    px-3
    leading-8"/>
  </div>

    <div class="relative mb-4 mr-80 ml-80" >
      <label for="email"> Email</label>

      <input type="email" id="email" name="email" class=" w-full
      bg-white
      rounded
      border border-gray-300
      text-base
      outline-none
      text-gray-700
      py-1
      px-3
      leading-8"/>
    </div>

    <div class="relative mb-4 mr-80 ml-80" >
      <label for="numero">Numero</label>

      <input type="number" id="numero"  name="numero" class="
      w-full
      bg-white
      rounded
      border border-gray-300
      text-base
      outline-none
      text-gray-700
      py-1
      px-3
      leading-8"/>
    </div>
    <button
        type="submit"
        class="
          text-white
          bg-red-500
          border-0
          py-2
          px-6
          focus:outline-none
          hover:bg-blue-600
          rounded
          text-lg
          ml-80
        "
        >
        Enviar
      </button>
 </form>
</div>